<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.nmedit.jsynth" version="0.1">    
     <attributes>
		<attribute id="description" value="Synthesizer API" />
		<attribute id="vendor" value="http://nmedit.sf.net/" />
	</attributes>
  	<requires>
		<import plugin-id="net.sf.nmedit.nomad.core"  />
		<import plugin-id="net.sf.nmedit.nmutils"  />
		<import plugin-id="com.jgoodies.forms" />
	</requires>
	<runtime>
		<library id="jsynth" path="lib/jsynth.jar" type="code" >
		<export prefix="*"/>
		</library>
		<library id="jsynth-integration" path="classes/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
	<extension plugin-id="net.sf.nmedit.nomad.core"
	  point-id="Service" id="SynthLibInstaller">
		<parameter id="class" value="net.sf.nmedit.jsynth.nomad.Installer"/>
		<parameter id="service" value="net.sf.nmedit.nomad.core.service.initService.InitService"/>
		<parameter id="description" value="JSynth installer"/>
	</extension>
</plugin>