<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.nmedit.jnmprotocol" version="0.3">
	<requires>
		<import plugin-id="net.sf.nmedit.jpdl"  />
	</requires>
	<runtime>
		<library id="jnmprotocol" path="lib/jnmprotocol.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="codecs" path="codecs/" type="resources">
		<export prefix="*.pdl"/>
		</library>
	</runtime>
</plugin>