<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.cssparser" version="0.9.4">
  	<requires>
		<import plugin-id="org.w3.sac"  />
		<import plugin-id="org.apache.xerces" />
	</requires>
	<runtime>
		<library id="cssparser" path="lib/cssparser.jar" type="code" >
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>