<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.cssparser" version="0.9.4">    
     <attributes>
		<attribute id="description" value="CSS Parser" />
		<attribute id="plugin-vendor" value="http://nmedit.sf.net/" />
		<attribute id="vendor" value="http://cssparser.sourceforge.net/" />
		<attribute id="license-location" value="lib/LICENSE_cssparser.html" />
	</attributes>
  	<requires>
		<import plugin-id="org.w3.sac"  />
		<import plugin-id="org.apache.xerces" />
	</requires>
	<runtime>
		<library id="cssparser" path="lib/cssparser.jar" type="code" >
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>