<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="org.apache.xerces" version="2.9.0">
    <attributes>
		<attribute id="description" value="Xerces Java Parser" />
		<attribute id="plugin-vendor" value="http://nmedit.sf.net/" />
		<attribute id="vendor" value="http://xerces.apache.org/xerces-j/" />
		<attribute id="license-location" value="lib/LICENSE.xerces-j" />
	</attributes>
	<runtime>
		<library id="resolver" path="lib/resolver.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="serializer" path="lib/serializer.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="xerces" path="lib/xercesImpl.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="xml-apis" path="lib/xml-apis.jar" type="code">
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>