<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="org.apache.xerces" version="2.9.0">
	<runtime>
		<library id="resolver" path="lib/resolver.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="serializer" path="lib/serializer.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="xerces" path="lib/xercesImpl.jar" type="code">
		<export prefix="*"/>
		</library>
		<library id="xml-apis" path="lib/xml-apis.jar" type="code">
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>