<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.nmedit.jpatch" version="0.1">
	<requires>
		<import plugin-id="net.sf.nmedit.nmutils" />
	</requires>
	<runtime>
		<library id="jpatch" path="lib/jpatch.jar" type="code" >
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>