<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="net.sf.nmedit.jpatch" version="0.1">
     <attributes>
		<attribute id="description" value="Patch API" />
		<attribute id="vendor" value="http://nmedit.sf.net/" />
	</attributes>
	<requires>
		<import plugin-id="net.sf.nmedit.nmutils" />
		<import plugin-id="org.mozilla.rhino" />
		<import plugin-id="net.sf.nmedit.nomad.core"  />  
	</requires>
	<runtime>
		<!--	   
		<library id="jpatch-classes" path="../../../../libs/jpatch/bin/" type="code">
			<export prefix="*"/>
		</library>
		 -->
		<library id="jpatch" path="lib/jpatch.jar" type="code" >
		<export prefix="*"/>
		</library>
	</runtime>
</plugin>