<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="com.jgoodies.looks" version="2.1.4">
	<attributes>
		<attribute id="description" value="JGoodies Looks" />
                <attribute id="vendor" value="http://www.jgoodies.com/" />
                <attribute id="license-location" value="lib/LICENSE.txt" />
	</attributes>
	<runtime>
		<library id="jgoodies.looks" path="lib/looks-2.1.4.jar" type="code">
			<export prefix="*"/>
		</library>
	</runtime>
</plugin>